<h2>Edit</h2>

<form action="/modify_outfit/<%= @the_outfit.id %>" method="post">
  <label for="photo_box">Outfit photo URL</label>
  <input id="photo_box" type="text" name="query_outfit_photo" value="<%= @the_outfit.outfit_photo %>">

<% current_feeling_1 = @the_outfit.feelings.at(0) %>
<% current_feeling_2 = @the_outfit.feelings.at(1) %>
<% current_feeling_3 = @the_outfit.feelings.at(2) %>

<p>
 I feel
  <select name="query_feeling_id_1" id="feeling_id_1">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_1 != nil && a_feeling.id == current_feeling_1.id %>>
        <%= a_feeling.name %>
      </option>
    <% end %>
  </select>

  or

  <input id="new_feeling_1" type="text" name="query_new_feeling_1" placeholder="<%= current_feeling_1.name if current_feeling_1 != nil %>">
</p>

<p>
  <select name="query_feeling_id_2" id="feeling_id_2">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_2 != nil && a_feeling.id == current_feeling_2.id %>>
        <%= a_feeling.name %>
      </option>
    <% end %>
  </select>

  or

  <input id="new_feeling_2" type="text" name="query_new_feeling_2" placeholder="<%= current_feeling_2.name if current_feeling_2 != nil %>">
</p>

<p>

  <select name="query_feeling_id_3" id="feeling_id_3">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_3 != nil && a_feeling.id == current_feeling_3.id %>>
        <%= a_feeling.name %>
      </option>
    <% end %>
  </select>

  or

  <input id="new_feeling_3" type="text" name="query_new_feeling_3" placeholder="<%= current_feeling_3.name if current_feeling_3 != nil %>">
</p>

  <p>
    Perfect for
    <input id="occasion_box" type="text" name="query_outfit_occasion" placeholder="<%= @list_of_occasions.sample&.name || "date night" %>">
    in the
    <input id="season_box" type="text" name="query_outfit_season" placeholder="<%= @list_of_seasons.sample&.name || "spring" %>">
  </p>

  <button>Create outfit</button>
</form>

<h1>Currently</h2>

<img src="<%= @the_outfit.outfit_photo %>" style="width: 200px; height: 200px; object-fit: cover; border-radius: 12px;">

 <p>
   <%= @the_outfit.outfit_photo %>
 </p>

<p>
  Feelings:
</p>

<ul>
  <% @the_outfit.feelings.each do |a_feeling| %>
    <li><%= a_feeling.name %></li>
  <% end %>
</ul>

<p>
  Occasions:
</p>

<ul>
  <% @the_outfit.occasions.each do |an_occasion| %>
    <li><%= an_occasion.name %></li>
  <% end %>
</ul>

<p>
  Seasons:
</p>

<ul>
  <% @the_outfit.seasons.each do |a_season| %>
    <li><%= a_season.name %></li>
  <% end %>
</ul>
 
