<h2>Edit</h2>

<% current_feeling_1 = @the_outfit.feelings.at(0) %>
<% current_feeling_2 = @the_outfit.feelings.at(1) %>
<% current_feeling_3 = @the_outfit.feelings.at(2) %>

<% current_occasion_1 = @the_outfit.occasions.at(0) %>
<% current_occasion_2 = @the_outfit.occasions.at(1) %>
<% current_occasion_3 = @the_outfit.occasions.at(2) %>

<% current_season_names = @the_outfit.seasons.map { |a_season| a_season.name } %>

<form action="/modify_outfit/<%= @the_outfit.id %>" method="post">
  <label for="photo_box">Outfit photo URL</label>
  <input id="photo_box" type="text" name="query_outfit_photo" value="<%= @the_outfit.outfit_photo %>">

  <p>
    I feel
    <div>
    <select name="query_feeling_id_1" id="feeling_id_1">
      <option value="">Choose a feeling</option>
      <% @list_of_feelings.each do |a_feeling| %>
        <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_1 != nil && a_feeling.id == current_feeling_1.id %>>
          <%= a_feeling.name %>
        </option>
        <% end %>
      </select>

      or

      <input id="new_feeling_1" type="text" name="query_new_feeling_1" placeholder="Create a new feeling">
    </p>

    <p>
      <select name="query_feeling_id_2" id="feeling_id_2">
        <option value="">Choose a feeling</option>
        <% @list_of_feelings.each do |a_feeling| %>
          <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_2 != nil && a_feeling.id == current_feeling_2.id %>>
          <%= a_feeling.name %>
        </option>
          <% end %>
        </select>

        or

        <input id="new_feeling_2" type="text" name="query_new_feeling_2" placeholder="Create a new feeling">
      </p>

      <p>
        <select name="query_feeling_id_3" id="feeling_id_3">
          <option value="">Choose a feeling</option>
          <% @list_of_feelings.each do |a_feeling| %>
            <option value="<%= a_feeling.id %>" <%= "selected" if current_feeling_3 != nil && a_feeling.id == current_feeling_3.id %>>
          <%= a_feeling.name %>
        </option>
            <% end %>
          </select>

          or

          <input id="new_feeling_3" type="text" name="query_new_feeling_3" placeholder="Create a new feeling">
        </p>
        </div>

        <p> Perfect for </p>
          <select name="query_occasion_id_1" id="occasion_id_1">
            <option value="">Choose an occasion</option>
            <% @list_of_occasions.each do |an_occasion| %>
              <option value="<%= an_occasion.id %>" <%= "selected" if current_occasion_1 != nil && an_occasion.id == current_occasion_1.id %>>
          <%= an_occasion.name %>
        </option>
              <% end %>
            </select>

            or

            <input id="new_occasion_1" type="text" name="query_new_occasion_1" placeholder="Create a new occasion">
          </p>

          <p>
            <select name="query_occasion_id_2" id="occasion_id_2">
              <option value="">Choose an occasion</option>
              <% @list_of_occasions.each do |an_occasion| %>
                <option value="<%= an_occasion.id %>" <%= "selected" if current_occasion_2 != nil && an_occasion.id == current_occasion_2.id %>>
          <%= an_occasion.name %>
        </option>
                <% end %>
              </select>
              or

              <input id="new_occasion_2" type="text" name="query_new_occasion_2" placeholder="Create a new occasion">
            </p>

            <p>
              <select name="query_occasion_id_3" id="occasion_id_3">
                <option value="">Choose an occasion</option>
                <% @list_of_occasions.each do |an_occasion| %>
                  <option value="<%= an_occasion.id %>" <%= "selected" if current_occasion_3 != nil && an_occasion.id == current_occasion_3.id %>>
          <%= an_occasion.name %>
        </option>
                  <% end %>
                </select>

                or

                <input id="new_occasion_3" type="text" name="query_new_occasion_3" placeholder="Create a new occasion">
              </p>

              In the

              <label for="winter_box">Winter</label>
              <input id="winter_box" type="checkbox" name="query_season_winter" value="winter" <%= "checked" if current_season_names.include?("winter") %>>

              <label for="spring_box">Spring</label>
              <input id="spring_box" type="checkbox" name="query_season_spring" value="spring" <%= "checked" if current_season_names.include?("spring") %>>

              <label for="summer_box">Summer</label>
              <input id="summer_box" type="checkbox" name="query_season_summer" value="summer" <%= "checked" if current_season_names.include?("summer") %>>

              <label for="fall_box">Fall</label>
              <input id="fall_box" type="checkbox" name="query_season_fall" value="fall" <%= "checked" if current_season_names.include?("fall") %>>

              <button>Update outfit</button>
            </form>
