<h2>Edit</h2>

<form action="/modify_outfit/<%= @the_outfit.id %>" method="post">
  <label for="photo_box">Outfit photo URL</label>
  <input id="photo_box" type="text" name="query_outfit_photo" value="<%= @the_outfit.outfit_photo %>">

  <p>
    I feel
    <input id="feeling_box_1" type="text" name="query_new_feeling_1" value="<%= @the_outfit.feelings.at(0).name %>">
    ,
    <input id="feeling_box_2" type="text" name="query_new_feeling_2" value="<%= @the_outfit.feelings.at(1).name %>">
    , and
    <input id="feeling_box_3" type="text" name="query_new_feeling_3" value="<%= @the_outfit.feelings.at(2).name %>">
    when I wear this.
  </p>

  <p>
    Perfect for
    <input id="occasion_box" type="text" name="query_outfit_occasion" value="<%= @the_outfit.occasions.at(0).name %>">
    in the
    <input id="season_box" type="text" name="query_outfit_season" value="<%= @the_outfit.seasons.each %>">.
  </p>

  <button>Create outfit</button>
</form>

<h1>Currently</h2>

<img src="<%= @the_outfit.outfit_photo %>" style="width: 200px; height: 200px; object-fit: cover; border-radius: 12px;">

 <p>
   <%= @the_outfit.outfit_photo %>
 </p>

<p>
  Feelings:
</p>

<ul>
  <% @the_outfit.feelings.each do |a_feeling| %>
    <li><%= a_feeling.name %></li>
  <% end %>
</ul>

<p>
  Occasions:
</p>

<ul>
  <% @the_outfit.occasions.each do |an_occasion| %>
    <li><%= an_occasion.name %></li>
  <% end %>
</ul>

<p>
  Seasons:
</p>

<ul>
  <% @the_outfit.seasons.each do |a_season| %>
    <li><%= a_season.name %></li>
  <% end %>
</ul>
 
