<h1>New Fit</h1>

<form action="/insert_outfit" method="post">
  <label for="photo_box">Outfit photo URL</label>
  <input id="photo_box" type="text" name="query_outfit_photo" placeholder="Paste image URL here">

  <p>
    I feel
  <select name="query_feeling_id_1" id="feeling_id_1">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>"><%= a_feeling.name %></option>
    <% end %>
  </select>

  or <input id="new_feeling_1" type="text" name="query_new_feeling_1" placeholder="<%= @list_of_feelings.sample&.name || "playful" %>">


  <p>
    I feel
  <select name="query_feeling_id_2" id="feeling_id_2">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>"><%= a_feeling.name %></option>
    <% end %>
  </select>

  or
  <input id="new_feeling_2" type="text" name="query_new_feeling_2" placeholder="<%= @list_of_feelings.sample&.name || "confident" %>">

    <p>
    I feel
  <select name="query_feeling_id_1" id="feeling_id_1">
    <option value="">Choose a feeling</option>
    <% @list_of_feelings.each do |a_feeling| %>
      <option value="<%= a_feeling.id %>"><%= a_feeling.name %></option>
    <% end %>
  </select>


  <input id="new_feeling_3" type="text" name="query_new_feeling_3" placeholder="<%= @list_of_feelings.sample&.name || "energized" %>">
</p>

  <p>
    Perfect for
    <input id="occasion_box" type="text" name="query_outfit_occasion" placeholder="<%= @list_of_occasions.sample&.name || "date night" %>">
    in the
    <input id="season_box" type="text" name="query_outfit_season" placeholder="<%= @list_of_seasons.sample&.name || "spring" %>">
  </p>

  <button>Create outfit</button>
</form>
